<div class="container-fluid w-100 mx-0 my-0 px-0 py-0">
  <ul class="container-fluid py-2 w-100 nav bg-primary justify-content-center">
      <li class="nav-item">
        <a class="display-6 lead text-white nav-link active" href="/">Shrinkify</a>
      </li>
    </ul>
</div>